body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.hidden {
  display: none;
}

#weather {
  display: flex;
  flex-direction: row-reverse;
  margin: 5%;
}

#weather li {
  margin: 0 10px;
  color: white;
}

#clock-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}

#clock-login #clock {
  font-size: 100px;
  font-weight: bold;
  color: white;
}

#clock-login #log-in {
  margin-top: 20px;
}

#greeting {
  color: white;
  font-size: 50px;
  margin-top: 20px;
}

#quote {
  position: fixed;
  bottom: 5%;
  color: white;
  font-size: large;
  text-align: center;
  width: 100%;
}